<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xpaly">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".com.xpaly.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".com.xpaly.activity.TencentX5PlayActivity"
            android:label="x5Play"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            ></activity>
        <activity
            android:name=".com.xpaly.activity.WebResourcesSettingsActivity"
            android:label="@string/title_activity_web_resources_settings" />
        <activity
            android:name=".com.xpaly.activity.PlayMovieActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:label="webPlay" />
        <activity
            android:name=".com.xpaly.activity.MovieDetailsActivity"
            android:label="剧集" />
        <activity android:name=".com.xpaly.activity.SearchMovieActivity" />
        <activity
            android:name=".com.xpaly.activity.PianDianDetailsActivity"
            android:label="片单详情" />
        <activity
            android:name=".com.xpaly.activity.ArticleDetailsActivity"
            android:label="文章详情" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>